body {
  @apply text-black;
  @apply bg-white;
}

a {
  @apply text-primary;
  @apply hover:text-primary-dark;
  @apply focus:border-primary;
  transition: all 150ms ease-out;
}

strong, b {
  @apply font-extrabold;
}

h2 {
  @apply mb-4 text-4xl font-extrabold leading-tight lg:text-5xl lg:leading-tight;
}

.article {
  @apply prose sm:py-16 lg:prose-lg xl:prose-xl mx-auto py-12 max-w-none;
}

.button {
  @apply button inline-block items-center justify-center font-medium text-white border border-transparent bg-secondary-dark whitespace-nowrap rounded-md hover:bg-secondary-darker hover:text-white;
}

.button--primary {
  @apply font-medium px-4 py-2;
}

.button--strong {
  @apply font-bold px-5 py-3 lg:text-lg uppercase;
}

.crt-logo {
  display: none !important;
}

.crt-post .crt-post-border {
  border: none;
}

.crt-icon-instagram {
  margin: auto;
}
